<section>
    <h2>{{ site.social.title }}</h2>
    <p>{{ site.social.text }}</p>
    {% if site.social.button %}
        <ul class="actions">
            <li><a href="{% assign link_page = site.pages | where: 'path', site.social.button.url | first %}{{ link_page.url | relative_url }}" class="button{% if site.social.button.is_primary %} primary{% endif %}">{{ site.social.button.label }}</a></li>
        </ul>
    {% endif %}
</section>
{% if site.social.contact_methods %}
    <section>
        <h2>{{ site.social.contact_methods.title }}</h2>
        {% if site.social.contact_methods.contact_list %}
            <dl class="alt">
                {% for item in site.social.contact_methods.contact_list %}
                    {% if item.url %}
                        <dt>{{ item.title }}</dt>
                        <dd><a href="{{ item.url }}">{{ item.text }}</a></dd>
                    {% else %}
                        <dt>{{ item.title }}</dt>
                        <dd>{{ item.text }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        {% endif %}
        {% if site.social.contact_methods.social_icons %}
            <ul class="icons">
                {% for item in site.social.contact_methods.social_icons %}
                    <li><a href="{{ item.url }}" class="icon {{ item.icon }} alt"><span class="label">{{ item.title }}</span></a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endif %}
